<form class="" action="" method="post">
  <h1>All Landmarks</h1>
  <% @landmark.all.each do |landmark| %>
  <table>
    <ul><%=landmark.name%></ul>
    <ul><%=landmark.year_completed%></ul>
  </table>

  <%end%>
</form>
