    <h2>Create New Figure</h2>
    <form action="/figure" method="post">

      <label for="figure[name]"></label>
      <input type="text" name="figure[name]" value="Figure Name" id="figure_name"> <br>

      <label for="figure[title_ids]"></label>
      <input type="text" name="figure[title_ids][]" value="Title ID"><br>
      <label for="figure[landmark_ids]"></label>
      <input type="text" name="figure[landmark_ids][]" value="Landmark ID"><br>
      <label for="landmark[name]"></label>
      <input type="text" name="landmark[name]" value="Landmark Name">
      <label for="title[name]"></label>
      <input type="text" name="title[name]" value="Title Name">
      <input type="submit" name="submit" value="Submit">
    </form>
