<h1>Figure's Name: <%=@figures.name%></h1>

<ul>
  <%@figures.titles.each do |title|%>
  <li><%=title.name%></li>
  <%end%>

  <%@figures.landmarks.each do |landmark|%>
  <li><%=landmark.name%></li>
  <%end%>
</ul>
